body {
  font-family: "Inter", sans-serif;
}

/* Custom styling for HTMX indicator */
.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: inline-block;
}

.htmx-request.htmx-indicator {
  display: inline-block;
}

/* Animations */
.animate-pulse-slow {
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

/* Chessboard Overrides */
.chessboard-63f28 {
  border-radius: 4px;
  overflow: hidden;
}

.board-b72b1 {
  border: none !important;
}
